In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
census_file = "2010Census_DemoProfile3a_ZCTA.csv"

In [12]:
race_df = pd.read_csv(census_file, skiprows=8)
race_df.drop(0, inplace=True)
race_df.drop(1, inplace=True)

race_df_new = race_df.drop(['Unnamed: 2', 'Total Asian', 'Total NHOPI', 'Unnamed: 20'], axis=1)

race_df_new.rename(columns={"Unnamed: 1":"total_population", "Unnamed: 0":"zip","White": "white", "Black or African American": "black", "American Indian and Alaska Native":"native_american",
                            "Asian Indian":"indian", "Chinese":"chinese", "Filipino":"filipino", "Japanese":"japanese",
                            "Korean":"korean", "Vietnamese":"vietnamese", "Other Asian":"other_asian", "Native Hawaiian":"hawaiian",
                            "Guamanian or Chamorro":"guamanian", "Samoan":"samoan", "Other Pacific Islander":"pacific_islander",
                            "Some Other Race":"other"}, inplace=True)
race_df_new['zip'] = race_df_new['zip'].map(lambda x: x.lstrip('ZCTA5').rstrip('(California part only)'))

race_df_new['total_population'] = pd.to_numeric(race_df_new['total_population'].str.replace(',',''), errors='coerce')
race_df_new['white'] = pd.to_numeric(race_df_new['white'].str.replace(',',''), errors='coerce')
race_df_new['black'] = pd.to_numeric(race_df_new['black'].str.replace(',',''), errors='coerce')
race_df_new['native_american'] = pd.to_numeric(race_df_new['native_american'].str.replace(',',''), errors='coerce')
race_df_new['indian'] = pd.to_numeric(race_df_new['indian'].str.replace(',',''), errors='coerce')
race_df_new['chinese'] = pd.to_numeric(race_df_new['chinese'].str.replace(',',''), errors='coerce')
race_df_new['filipino'] = pd.to_numeric(race_df_new['filipino'].str.replace(',',''), errors='coerce')
race_df_new['japanese'] = pd.to_numeric(race_df_new['japanese'].str.replace(',',''), errors='coerce')
race_df_new['korean'] = pd.to_numeric(race_df_new['korean'].str.replace(',',''), errors='coerce')
race_df_new['vietnamese'] = pd.to_numeric(race_df_new['vietnamese'].str.replace(',',''), errors='coerce')
race_df_new['other_asian'] = pd.to_numeric(race_df_new['other_asian'].str.replace(',',''), errors='coerce')
race_df_new['hawaiian'] = pd.to_numeric(race_df_new['hawaiian'].str.replace(',',''), errors='coerce')
race_df_new['guamanian'] = pd.to_numeric(race_df_new['guamanian'].str.replace(',',''), errors='coerce')
race_df_new['samoan'] = pd.to_numeric(race_df_new['samoan'].str.replace(',',''), errors='coerce')
race_df_new['pacific_islander'] = pd.to_numeric(race_df_new['pacific_islander'].str.replace(',',''), errors='coerce')
race_df_new['other'] = pd.to_numeric(race_df_new['other'].str.replace(',',''), errors='coerce')


race_df_new['white'] = race_df_new['white']/race_df_new['total_population']
race_df_new['black'] = race_df_new['black']/race_df_new['total_population']
race_df_new['native_american'] = race_df_new['native_american']/race_df_new['total_population']
race_df_new['indian'] = race_df_new['indian']/race_df_new['total_population']
race_df_new['chinese'] = race_df_new['chinese']/race_df_new['total_population']
race_df_new['filipino'] = race_df_new['filipino']/race_df_new['total_population']
race_df_new['japanese'] = race_df_new['japanese']/race_df_new['total_population']
race_df_new['korean'] = race_df_new['korean']/race_df_new['total_population']
race_df_new['vietnamese'] = race_df_new['vietnamese']/race_df_new['total_population']
race_df_new['other_asian'] = race_df_new['other_asian']/race_df_new['total_population']
race_df_new['hawaiian'] = race_df_new['hawaiian']/race_df_new['total_population']
race_df_new['guamanian'] = race_df_new['guamanian']/race_df_new['total_population']
race_df_new['samoan'] = race_df_new['samoan']/race_df_new['total_population']
race_df_new['pacific_islander'] = race_df_new['pacific_islander']/race_df_new['total_population']
race_df_new['other'] = race_df_new['other']/race_df_new['total_population']

race_df_new = race_df_new.drop(['total_population'], axis=1)

race_df_melt = race_df_new.melt(id_vars=['zip'], var_name='race', value_name='percent_of_race')

race_df_melt['percent_of_race'] = race_df_melt['percent_of_race'].map("{:.1%}".format)

In [11]:
data = {'race_id': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], 
        'race_group': ["white", "black", "native_american",
                "indian", "chinese", "filipino", "japanese",
                "korean", "vietnamese", "other_asian", "hawaiian",
                "guamanian", "samoan", "pacific_islander","other"]}
race_table = pd.DataFrame(data=data)
race = race_table

race

    race_id        race_group
0         1             white
1         2             black
2         3   native_american
3         4            indian
4         5           chinese
5         6          filipino
6         7          japanese
7         8            korean
8         9        vietnamese
9        10       other_asian
10       11          hawaiian
11       12         guamanian
12       13            samoan
13       14  pacific_islander
14       15             other

In [6]:
race_df_melt = race_df_melt.replace({"race": {'white':1,'black':2,'native_american':3,'indian':4,
                               'chinese':5,'filipino':6,'japanese':7,'korean':8,
                               'vietnamese':9,'other_asian':10,'hawaiian':10,
                               'guamanian':12,'samoan':13,'pacific_islander':14,'other':15}})

In [7]:
race_df_melt = race_df_melt.rename(columns={"race": "race_id","percent_of_race":"qty_pct"})

In [13]:
race_df_melt.head()
race_zip = race_df_melt

race_zip

          zip   race percent_of_race
0       89010  white           58.1%
1       89019  white           79.7%
2       89060  white           90.0%
3       89061  white           82.4%
4       89439  white           97.5%
5       90001  white           35.9%
6       90002  white           28.1%
7       90003  white           30.0%
8       90004  white           37.3%
9       90005  white           29.1%
10      90006  white           31.9%
11      90007  white           38.7%
12      90008  white            8.5%
13      90010  white           23.3%
14      90011  white           33.8%
15      90012  white           27.1%
16      90013  white           37.3%
17      90014  white           40.2%
18      90015  white           35.3%
19      90016  white           24.5%
20      90017  white           34.8%
21      90018  white           26.0%
22      90019  white           30.0%
23      90020  white           24.3%
24      90021  white           41.0%
25      90022  white           52.4%
26      90023  white           49.6%
27      90024  white           61.6%
28      90025  white           64.7%
29      90026  white           46.7%
...       ...    ...             ...
26505   96117  other            5.7%
26506   96118  other            2.3%
26507   96119  other            5.6%
26508   96120  other            2.0%
26509   96121  other            1.1%
26510   96122  other            9.1%
26511   96123  other           10.4%
26512   96124  other            3.1%
26513   96125  other            4.7%
26514   96126  other            4.7%
26515   96128  other            5.5%
26516   96129  other            0.4%
26517   96130  other           13.4%
26518   96132  other           10.1%
26519   96133  other            7.3%
26520   96134  other           26.1%
26521   96135  other            7.0%
26522   96136  other            1.9%
26523   96137  other            2.0%
26524   96140  other            0.8%
26525   96141  other            0.1%
26526   96142  other            1.2%
26527   96143  other            9.6%
26528   96145  other            1.9%
26529   96146  other            0.7%
26530   96148  other            8.4%
26531   96150  other           11.4%
26532   96155  other            0.0%
26533   96161  other            8.3%
26534   97635  other            0.6%

[26535 rows x 3 columns]

In [14]:
connection_string = "postgres:postgres@localhost:5432/customer_db"

engine = create_engine(f'postgresql://{connection_string}')

In [16]:
# race_zip.to_sql(name='race_zip', con=engine, if_exists='append', index=True)

In [ ]:
# race.to_sql(name='race', con=engine, if_exists='append', index=True)